.navbarContainer {
    height: calc(100vh - 48px);
    display: flex;
}

.navbar {
    width: 100px;
    height: 100%;
    background: #000;
}

.navbarOpen {
    width: 200px;
    height: 100%;
    background: red;
}